<div class="row">
  <div class="col-md-6">
    <h3 class="text-muted text-center">Rats for <%= team_name %></h3>
    <%= bar_chart graph.joins(:rats).group(:name).where('rats.created_at BETWEEN ? AND ?', @date_from, @date_to).count, :library => {:colors => ["orange"]}, height: "450px" %>
  </div>
  <div class="col-md-6">
    <h3 class="text-muted text-center">Ticks for <%= team_name %></h3>
    <%= bar_chart graph.joins(:ticks).group(:name).where('ticks.created_at BETWEEN ? AND ?', @date_from, @date_to).count, :library => {:colors => ["green"]}, height: "450px" %>
  </div>
</div>
