<div class="row">
  <% @rat_types.sorted.each do |t| %>
    <div class="col-md-6">
      <h3 class="text-muted text-center">
      <%= t.name %>
      </h3>
      <%= bar_chart Rat.joins(:user).where("rats.rat_type_id = #{t.id} and rats.created_at BETWEEN ? AND ?", @date_from, @date_to).group(:name).count, :library => {:colors => ["orange"]}, height: "500px" %>
    </div>
  <% end %>
</div>
