<div class="row">
  <div class="col col-sm-4">
  </div>
  <div class="col col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="text-center text-muted">Notifications</h3></div>
        <div class="panel-body">
          <p><strong>Notification for: </stong><%= @current_user.name %></p>
        </div>
        <ul class="list-group">
          <% if @notifications.count >= 1 %>
            <% @notifications.each do |notification| %>
              <li class="list-group-item">
                <p>Found notification <%= notification.id %></p>
                <%= button_to "Mark Read", :action => "mark_read", :notification => notification.id, :read => "true" %>
                <%# link_to activity.owner.name, activity.owner, :class => "list-group-item-heading" if activity.owner %>
                <%# render_activity activity %>
              </li>
            <% end %>
          <% else %>
            <h3>No notifications available</h3>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
