<div class="media well">
  <%= image_tag("ticket.png", :alt => "ticket QA", :class => "pull-left") %>
  <div class="media-body">
    <h4 class="text-center text-muted">QA</h4>
    Test of things.
  </div>
</div>
