<div class="media well">
  <%= image_tag("sales.png", :alt => "sales", :class => "pull-left") %>
  <div class="media-body">
    <h4 class="text-center text-muted">Sales</h4>
    Coming soon...
  </div>
</div>
