<div class="media well">
  <%= image_tag("survey.png", :alt => "surveys", :class => "pull-left") %>
  <div class="media-body">
    <h4 class="text-center text-muted">Surveys</h4>
    Coming soon...
  </div>
</div>
