<%= form_for(rat_type) do |u| %>

  <div class="form-group">
    <label for="name">Name</label>
    <%= u.text_field :name, :class => "form-control", :id => "name" %>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <%= u.text_field :description, :class => "form-control", :id => "description" %>
  </div>

  <%= u.submit :Submit, :class => "btn btn-success" %>

<% end %>
