<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Edit QA Setting - <%= @qa_general_setting.name %></h3>
  </div>
  <div class="panel-body">
    <%= render 'form', qa_general_setting: @qa_general_setting %>
  </div>
  <div class="panel-footer">
    <%= render "back" %>
  </div>
</div>
