<div class="pull-right">
  <%= form_tag users_path, method: :get do %>
    <%= text_field_tag :date_from, @date_from %>
    <%= text_field_tag :date_to, @date_to %>
    <%= submit_tag "Search", :class => "btn btn-default" %>
  <% end %>
</div>
