<%= f.fields_for :ticks, @user.ticks.new do |u| %>

  <div class="row">
    <div class="col-md-6">
      <form class="form-horizontal" role="form">
          <% @tick_types.each do |t| %>
            <div class="form-group">
              <%= u.radio_button :tick_type_id, t.id %>
              <%= u.label :tick_type_id, t.name %>
            </div>
          <% end %>
        <div class="form-group">
          <label for="Notes">
            Notes
          </label>
          <%= u.text_area :notes, :class => "form-control", :id => "Notes", :size => "1x4" %>
        </div>
    </div>
  </div>

<% end %>
