<h3 class="text-center text-muted">Rat Types Settings</h3>
<table class="table table-hover table-condensed table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>

    <% @setting.rat_types.sorted.each do |rat| %>
      <tr>
        <td><%= rat.name %></td>
        <td><%= rat.description %></td>
        <td>TODO - Actions</td>
      </tr>
    <% end %>
</table>
