<h3 class="text-center text-muted">Rat Types Settings</h3>
<table class="table table-hover table-condensed table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>

    <% @setting.rat_types.sorted.each do |rat| %>
      <tr>
        <td><%= rat.name %></td>
        <td><%= rat.description %></td>
        <td>
          <div class="btn-group">
            <%= link_to "Edit", edit_setting_rat_type_path(@setting, rat), :class => "btn btn-sm btn-default" %>
            <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
              <%= link_to "Delete", rat, method: :delete, data: { confirm: "Are you sure? This will cause issues if there are rats applied to Agents." } %>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
</table>
