<div class="row">
  <div class="col-md-12">
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
      ×
      </button>
      <h4>No Settings Available!</h4>
      <p>
      Have you run rake db:seed during the install?<br />
      You can add settings manually below, however this might not be compatible
      </p>
    </div>
  </div>
</div>
