<%= f.fields_for :qa_general_settings, @setting.qa_general_settings.new do |u| %>
  <div class="form-group">
    <label for="name">Setting Name</label>
    <%= u.text_field :name, :class => "form-control", :id => "name" %>
  </div>
  <div class="form-group">
    <label for="value">Value</label>
    <%= u.text_field :value, :class => "form-control", :id => "value" %>
  </div>
  <div class="form-group">
    <label for="disabled">Disabled</label>
    <%= u.check_box :disabled, {}, {:class => "form-control", :id => "disabled"} %>
  </div>
<% end %>

