<%= f.fields_for :rat_types, @setting.rat_types.new do |u| %>

  <!-- <form role="form"> -->
  <div class="form-group">
    <label for="name">Name</label>
    <%= u.text_field :name, :class => "form-control", :id => "name" %>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <%= u.text_field :description, :class => "form-control", :id => "description" %>
  </div>
  <!-- </form> -->
<% end %>

