<p><strong>Description: </strong><%= @setting.description %></p>
<% if @tick_types.count >= 1 %>
  <%= render "tick_types" %>
<% elseif @rat_types.count >= 1 %>
  <%= render "rat_types" %>
<% else %>
  <p> error </p>
<% end %>
<%= button_to("New #{@setting.name}", {:action => "new_#{@setting.name}", :setting_id => @setting.id}, :class => "btn btn-default") %>
