<p><strong>Description: </strong><%= @setting.description %></p>

<%= render "list_#{@setting.name}" %>
<%= link_to("New #{@setting.name.humanize}", {:action => "#{@setting.name}", :id => @setting.id}, :class => "btn btn-default") %>
