<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Add Setting for <%= @setting.name %></h3>
  </div>
  <div class="panel-body">
    <%= render 'qa_settings', setting: @setting %>
  </div>
  <div class="panel-footer">
    <%= render "back" %>
  </div>
</div>

