<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Add setting to <%= @setting.name %></h3>
  </h3>
  <div class="panel-body">
    <%= render "tick_types", setting: @setting %>
  </div>
  <div class="panel-footer">
    <%= render "back" %>
  </div>
</div>
