<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Edit Cross - <%= @cross_type.name %></h3>
  </div>
  <div class="panel-body">
    <%= render 'form', cross_type: @cross_type %>
  </div>
  <div class="panel-footer">
    <%= render "back" %>
  </div>
</div>
