<% if @team_crosses.nil? %>
  <%= render "success", message: "Team has no Crosses" %>
<% else %>
  <% @cross_types.each do |type| %>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h5 class="text-center text-muted"><%= type.name.titleize %></h5>
          <h3 class="text-center"><span class="label label-<%= @team_crosses.where(:cross_type_id => type.id).count == 0 ? "success" : "warning" %>"><%= @team_crosses.where(:cross_type_id => type.id).count %></span></h3>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
