<div class="row">
  <div class="col-sm-12">
    <%= form_for(ticket) do |f| %>
      <% if ticket.errors.any? %>
        <%= render "form_error", form: ticket %>
      <% end %>
      <%= f.text_field :ticket_reference %>
      <% f.hidden_field 
    <% end %>
  </div>
</div>
