<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Request Cross Deletion - <%= @cross.id %></h3>
  </div>
  <div class="panel-body">
    <%= render 'form', cross: @cross %>
  </div>
  <div class="panel-footer">
    <%= render "back" %>
  </div>
</div>
