<div class="btn-group">
  <button type="button" data-toggle="dropdown" class="btn btn-xs btn-default dropdown-toggle">
    Action
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <%= link_to "Edit Ticket Reference", edit_ticket_path(ticket), :class => "dropdown-item" %>
      <%= link_to("Edit Criteria Scores", :controller => "qas", :action => "edit", :ticket_id => ticket, :class => "dropdown-item") %>
    </li>
    <li class="divider"></li>
    <li>
    <%= link_to "Delete", ticket_path(ticket), data: {:confirm => "Are you sure?"}, :class => "dropdown-item", :method => :delete %>
    </li>
  </ul>
</div>
