<div class="row">
  <%= render "daterange" %>
</div>
<div class="row">
<% get_months.each do |mons| %>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="text-center text-muted">My QA Breadkdown - <%= parse_months(mons.to_s).strftime("%B, %Y") %></h4>
      </div>
      <div class="panel-body">
        <%= render "individual_tickets", mons: mons %>
      </div>
    </div>
  </div>
<% end %>
</div>
