<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Team: <%= @team.name %></h4>
  </div>
  <div class="panel-body">
    <%= render 'team_list' %>
  </div>
  <div class="panel-footer">
    <%= render 'back_local' %>
  </div>
</div>
