<% broadcasts = Broadcast.where(:read => false) %>
<% setting = Setting.where(:name => "broadcast_settings").first %>

<% if setting.enabled? %>
  <li class="<%= 'active' if params[:controller] == 'broadcasts' %>">
    <%= link_to broadcasts_path do %>
      <% unless broadcasts.count >= 1 %>
        <span class="glyphicon glyphicon-bell">
          Broadcasts
        </span>
      <% else %>
        <span class="label label-pill label-primary"> <%= broadcasts.count %></span>
          Broadcasts
        </span>
      <% end %>
    <% end %>
  </li>
<% end %>
