<% if setting.errors.any? %>

  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
          ×
        </button>
        <h2><%= pluralize(setting.errors.count, "error") %> prohibited this setting from being saved:</h2>
        <ul>
          <% setting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

<% end %>
