<% notifyme = Notification.where("notifications.recipient = #{@current_user.id}").or(Notification.where("notifications.#{@current_user.role} = true")).where("notifications.read != true") %>

<li class="<%= 'active' if params[:controller] == 'activities' %>">
  <%= link_to notification_index_path do %>
    <% if notifyme.count == 0 %>
      <span class="glyphicon glyphicon-envelope">
        Notifications
      </span>
    <% else %>
      <span class="label label-pill label-danger"> <%= notifyme.count %></span>
        Notifications
      </span>
    <% end %>
  <% end %>
</li>
