<%# link_to 'Edit', edit_user_path(@user) %>
<%# link_to 'Back', users_path %>

<h3> Create Admin User</h3>
<%= form_for(:user, :url => {:action => 'create'}) do |f| %>
  <%= render(:partial => "form", :locals => {:f => f}) %>
  <%= submit_tag("Create User") %>
<% end %>
